body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    padding: 2rem;
    color: #367e79;
    text-align: center;
}

.navb {
    background-color: black;
    color: white;
}

.box {
    background-color: #7e36747c;
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 10%;
}

.foot {
    background-color: black;
    color: white;
    padding: 15px;
}

.somfootlink {
    color:white;
    margin-left: 25px;
}
.alfootlink{
    color: red;
    margin-left: 25px;
    margin-left: 25px;
}

.benfootlink {
    color:blue;
    margin-left: 25px;
}

.footlink:hover{
    color:#367e79;
}

#imageBox {
    width: 85%;
    height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 2%; 
}
#quoteBox {
    color: #000; /* Text color for legibility */
    font-size: 1rem;
    backdrop-filter: blur(2px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    border-radius: 30px;
}
#authorBox {
    color: #000; /* Text color for legibility */
    font-size: 1rem;
    backdrop-filter: blur(2px);
    max-width: 70%;
    
}